*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 15px;
}

.formMain{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 80%;
}

.tablePage{
  width: 80%;
}